@font-face {
    font-family: 'Kosko';
    src: local('Kosko Bold'), local('Kosko-Bold'),
        url('KoskoBold-Bold.woff2') format('woff2'),
        url('KoskoBold-Bold.woff') format('woff'),
        url('KoskoBold-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

@font-face {
font-family: 'Circe Regular';
src: url('Circe-Regular.eot');
src: url('Circe-Regular.eot?#iefix') format('embedded-opentype'),
url('Circe-Regular.woff') format('woff'),
url('Circe-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Circe Bold';
src: url('Circe-Bold.eot');
src: url('Circe-Bold.eot?#iefix') format('embedded-opentype'),
url('Circe-Bold.woff') format('woff'),
url('Circe-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Circe Extra Bold';
src: url('Circe-ExtraBold.eot');
src: url('Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
url('Circe-ExtraBold.woff') format('woff'),
url('Circe-ExtraBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}